<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Tourist Agency</title>

    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    @{
        var currentUser = Session["CurrentUser"] as Veb_Projekat.Models.SessionUser;
    }

    <nav>
        @Html.ActionLink("Home", "Index", "Home")

        @if (currentUser != null && currentUser.IsLoggedIn)
        {

            if (currentUser.IsTourist)
            {
                @: | @Html.ActionLink("My Reservations", "MyReservations", "Tourist")
            }
            else if (currentUser.IsManager)
            {
                @: | @Html.ActionLink("Arrangements", "ViewAllArrangements", "Manager")
                @: | @Html.ActionLink("Accommodations", "ViewAllAccommodations", "Manager")
                @: | @Html.ActionLink("Accommodation Units", "ViewAllUnits", "Manager")
                @: | @Html.ActionLink("Reservations", "ViewAllReservations", "Manager")
                @: | @Html.ActionLink("Comments", "ApproveComments", "Manager")
            }
            else if (currentUser.IsAdmin)
            {
                @: | @Html.ActionLink("Users", "ViewAllUsers", "Admin")
                @: | @Html.ActionLink("Create Manager", "RegisterManager", "Admin")
            }

            @: | @Html.ActionLink("Profile", "EditProfile", "Account")
            @: | @Html.ActionLink("Logout", "Logout", "Account")
        }
        else
        {
            @: | @Html.ActionLink("Login", "Login", "Account")
            @: | @Html.ActionLink("Register", "Register", "Account")
        }
    </nav>

    @if (TempData["Success"] != null)
    {
        <div class="alert-success">
            @TempData["Success"]
        </div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert-error">
            @TempData["Error"]
        </div>
    }

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
