@{
    ViewBag.Title = "Home";
    var users = ViewBag.Users as List<Veb_Projekat.Models.User>;
    var arrangements = ViewBag.Arrangements as List<Veb_Projekat.Models.Arrangement>;
    var reservations = ViewBag.Reservations as List<Veb_Projekat.Models.Reservation>;
}

<h2>Users</h2>
<table border="1">
    <tr>
        <th>Username</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    @foreach (var u in users)
    {
        <tr>
            <td>@u.Username</td>
            <td>@u.FirstName @u.LastName</td>
            <td>@u.Email</td>
            <td>@u.UserRole</td>
        </tr>
    }
</table>

<h2>Arrangements</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Location</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    @foreach (var a in arrangements)
    {
        <tr>
            <td>@a.Name</td>
            <td>@a.Type</td>
            <td>@a.Location</td>
            <td>@a.StartDate.ToString("dd/MM/yyyy")</td>
            <td>@a.EndDate.ToString("dd/MM/yyyy")</td>
        </tr>
    }
</table>

<h2>Reservations</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Tourist</th>
        <th>Arrangement</th>
        <th>Status</th>
    </tr>
    @foreach (var r in reservations)
    {
        <tr>
            <td>@r.Id</td>
            <td>@r.Tourist.Username</td>
            <td>@r.SelectedArrangement.Name</td>
            <td>@r.Status</td>
        </tr>
    }
</table>
